.main-products{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.btn-area{
    display:flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
