
.login-page{
    text-align: center;
}
.login-page .gbtn{
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
}
.login-page .gbtn:hover{
    background-color: black;
    color: white;
}